{% extends 'base1.html' %}
{% block title %}
About Us
{% endblock title %}
{% block about %}
menu-active
{% endblock about %}

{% block body %}

  <!-- ======= Intro Section ======= -->
  <section id="about">
    <div class="about-container">
        <h1><span>About Us</span></h1>
        <p>Student Management System is software which is helpful for students as well as the school authorities. In the current system all the activities are done manually. Its time saving and scalable. Our Student Management System deals with the various activities related to the students<br>
        STUDENT MANAGEMENT SYSTEM successfully implemented based on online data filling which helps us in administrating the data user for managing the tasks performed in students. The project successfully used various functionalities of Xampp and python flask and also create the fully functional database management system for online portals.</p>
      <h2 style="text-align:center"><span>Under the Guidance of</span></h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="../static/images/About/P.png" alt="Principal" >
            <div class="container">
              <h2>Dr. Mahendrda.K.V</h2>
              <p class="title">Principal</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.
              <br>jane@example.com</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../static/images/About/H.png" alt="Hod">
            <div class="container">
              <h2>Dr. Manjunath.R</h2>
              <p class="title">Professor and HOD</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.
              <br>mike@example.com</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../static/images/About/S.png" alt="Professor">
            <div class="container">
              <h2>Prof. Chandrashekar C M</h2>
              <p class="title">Assistant Professor</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.
               <br> john@example.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Intro Section -->

 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
     
    </div>

    <div class="container">
   
      <div class="credits">
      <br>
        Developed by <a href="/Akshay" target="_blank">A&E Web solutions</a>
      </div>
    </div>
  </footer><!-- End  Footer -->
{% endblock body %}